# .NET
bin/
obj/
*.user
*.suo
.vs/
*.db
appsettings.Development.json

# Node.js
node_modules/
.next/
.env
.env.local

# IDE
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
# macOS
.ds
**/.ds
